[submodule "cmake"]
	path = cmake
	url = https://github.com/dnasdw/libsundaowen_cmake.git
[submodule "dep/libsundaowen"]
	path = dep/libsundaowen
	url = https://github.com/dnasdw/libsundaowen_src.git
[submodule "dep/lzma457lib"]
	path = dep/lzma457lib
	url = https://github.com/dnasdw/libsundaowen_lzma457lib_src.git
[submodule "dep/lz4"]
	path = dep/lz4
	url = https://github.com/dnasdw/libsundaowen_lz4.git
